*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/BADOCKERY-Trial-BF68d4a4aa40ff1.otf") format("truetype");
}